# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
/data
/faiss/data
/faiss/catboost_info
/faiss/*.csv

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
CTestTestfile.cmake
*.cmake
*.cmake.in
*.cmake.in~
*.cmake~

# idea files
/cpp/.idea
/cpp/cmake-build-debug
.vscode/settings.json
